<h1> {{ ( heroe.id ) ? 'Editar' : 'Nuevo' }} heroe <small>{{ heroe.superhero }}</small></h1>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
      <mat-form-field >
        <mat-label>Super heroe</mat-label>
        <input type="text" [(ngModel)] = "heroe.superhero"  matInput required>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Alter Ego</mat-label>
        <input type="text" [(ngModel)] = "heroe.alter_ego" matInput required>
      </mat-form-field>
    </div>
    <mat-form-field >
      <mat-label>Primera aparacion</mat-label>
      <input type="text" [(ngModel)] = "heroe.first_appearance" matInput required>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Personajes</mat-label>
      <input type="text" [(ngModel)] = "heroe.characters" matInput required>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Creador</mat-label>
      <mat-select [(ngModel)] = "heroe.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">{{ publisher.desc }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Foto url</mat-label>
      <input type="url" [(ngModel)] = "heroe.alt_img" matInput required>
    </mat-form-field>
    <br>
    <div fxLayout>
      <button mat-raised-button color="primary" (click)="guardar()">
        <mat-icon>save</mat-icon>
        {{ ( heroe.id ) ? 'Actualizar' : 'Crear' }}
      </button>
      <span class="spacer"></span>
      <button *ngIf="heroe.id"  mat-raised-button color="warn" (click)="eliminar()">
        <mat-icon>delete</mat-icon>
        Eliminar
      </button>
    </div>
  </div>
  <div fxFlex="50">
    <img [src]="heroe | imagen" alt="" srcset="">
  </div>
</div>
